package ui



templ ProgessEM(){

<ul class="steps">
  <li class="step step-primary">Gruppen Phase</li>
  <li class="step ">Viertefinale</li>
  <li class="step">Halbfinale</li>
  <li class="step">Finale</li>
</ul>

}
